.node {
    stroke: #000111;
    stroke-width: 1.0px;
    fill: #6495ed;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

circle {
  fill: #6495ed;
  stroke: #333;
  stroke-width: 1.0px;
}

text {
  font: 11px sans-serif;
  pointer-events: none;
}