html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url("background.png");
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  top: 0;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow: scroll;
  border-right: 1px solid #999;
  width: 18%;
  color: #222;
  background-color: #eee;
}

.search, .model {
  padding: 7px 15px;
}

.searchbox {
  width: 100%;
  font-size: 16px;
}

.model {
  font-size: 20px;
  cursor: pointer;
}

.model:hover {
  background-color: #6495ed;
  color: #eee;
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 18%;
}

.title {
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
}

.inner-container {
  position: absolute;
  background-color: white;
  border: 1px solid #999;
  top: 100px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.node {
  stroke: #000111;
  stroke-width: 1.0px;
  fill: #6495ed;
}

.node-label {
  pointer-events: none;
}

.link {
  fill: none;
  stroke-width: 1.5px;
  stroke-opacity: 0.8;
  stroke: #999;
}

.link.belongs_to {
  stroke: #000;
}

#belongs_to {
  fill: #000;
}

.link.has_and_belongs_to_many {
  stroke: #f00;
}

#has_and_belongs_to_many {
  fill: #f00;
}

.link.has_many {
  stroke: #0f0;
}

#has_many {
  fill: #0f0;
}

.link.has_one {
  stroke: #00f;
}

#has_one {
  fill: #00f;
}
