<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Rails Model Visualizer</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./share/main.css"/>
        <script src="<%= @d3 %>" charset="utf-8"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <%= @sidebar %>

        <script>
            (function() {
                // Model data is inserted from visualizer.rb
                var data = <%= @models %>;
                var nodes = [];
                var links = [];
                var node;

                var markerWidth = 8,
                    markerHeight = 8,
                    cRadius = 30, // play with the cRadius value
                    refX = cRadius + (markerWidth / 2),
                    refY = -Math.sqrt(cRadius / 3),
                    maxNodeLabelSize = cRadius * 0.625,
                    minNodeLabelSize = cRadius * 0.275,
                    drSub = cRadius - refY;

                var legendRectSize = 18;
                var legendSpacing = 4;

                var color = d3.scale.category20b();

                // Create node array and number each one
                var i = 0;
                for (var name in data) {
                    if (data.hasOwnProperty(name)) {
                        node = data[name];
                        node.node_number = i++;
                        nodes.push({
                            name: name,
                            group: 1,
                            schema_info: node.schema_info
                        });
                    }
                }

                // Create links array using associations
                for (var name in data) {
                    if (data.hasOwnProperty(name)) {
                        node = data[name];
                        for (var assn_type in node.associations) {
                            node.associations[assn_type].forEach(function(assn) {
                                if (assn in data) {
                                    links.push({
                                        source: node.node_number,
                                        target: data[assn].node_number,
                                        type: assn_type
                                    });
                                } else {
                                    console.log('ERROR: association not found. ' + name + ' -> ' + assn)
                                }
                            });
                        }
                    }
                }

                var width = window.innerWidth,
                    height = window.innerHeight;

                var svg = d3.select("body")
                            .append("svg")
                            .attr("width", width)
                            .attr("height", height);

                var force = d3.layout.force()
                  .size([width, height])
                  .nodes(d3.values(nodes))
                  .links(links)
                  //.gravity(0.1)
                  .charge(-1000)
                  .linkDistance(200)
                  //.linkStrength(0.9)
                  .start();



                // build the arrow.
                svg.append("svg:defs").selectAll("marker")
                    .data(["end"])      // Different link/path types can be defined here
                  .enter().append("svg:marker")    // This section adds in the arrows
                    .attr("id", String)
                    .attr("viewBox", "0 -5 10 10")
                    .attr("refX", refX)
                    .attr("refY", refY)
                    .attr("markerWidth", markerWidth)
                    .attr("markerHeight", markerHeight)
                    .attr("orient", "auto")
                  .append("svg:path")
                    .attr("d", "M0,-5L10,0L0,5");

                // add the links and the arrows
                var path = svg.append("svg:g").selectAll("path")
                    .data(force.links())
                  .enter().append("svg:path")
                //    .attr("class", function(d) { return "link " + d.type; })
                    .attr("class", "link")
                    .style("stroke", function(d) {
                      switch(d.type) {
                          case "belongs_to":
                              return "#000";
                          case "has_and_belongs_to_many":
                              return "#f00";
                          case "has_many":
                              return "#0f0";
                          case "has_one":
                              return "#00f";
                          default:
                              return "#999";
                      }
                    })
                    .style("stroke-width", function(d) { return Math.sqrt(d.value); })
                    .attr("marker-end", "url(#end)");

                // Create the node groups under svg
                var gnodes = svg.selectAll('g.gnode')
                  .data(nodes)
                  .enter()
                  .append('g')
                  .on("mouseover", mouseover)
                  .on("mouseout", mouseout)
                  .classed('gnode', true);

                // Add circle to each group
                node = gnodes.append("circle")
                  .attr("class", "node")
                  .attr("r", cRadius)
                  .call(force.drag);

                // Append labels to each group
                var labels = gnodes.append("text")
                  .text(function(d) { return d.name; })
                  .attr("text-anchor", "middle")
                  .style("font-size", "1px")
                  .each(getSize)
                  .style("font-size", function(d) { return d.scale + "px"; })
                  .attr("dy", function(d) { return (d.scale / 5) + "px"; });

                // Show model attributes on hover
                node.append("title").text(function(d) {
                    var description = d.name + '\r\n';

                    for (var attr in d.schema_info) {
                        if (d.schema_info[attr].length > 0) {
                            description += '\r\n' + attr + ": " + d.schema_info[attr].join(', ');
                        }
                    }

                    return description;
                });

                // var legend = svg.selectAll('.legend')
                //   .data(force.links().domain())
                //   .enter()
                //   .append('g')
                //   .attr('class', 'legend')
                //   .attr('transform', function(d, i) {
                //     var height = legendRectSize + legendSpacing;
                //     var offset =  height * links.length / 2;
                //     var horz = -2 * legendRectSize;
                //     var vert = i * height - offset;
                //     return 'translate(' + horz + ',' + vert + ')';
                // });

                // legend.append('rect')
                //   .attr('width', legendRectSize)
                //   .attr('height', legendRectSize);
                //   // .style('fill', color)
                //   // .style('stroke', color);

                // legend.append('text')
                //   .attr('x', legendRectSize + legendSpacing)
                //   .attr('y', legendRectSize - legendSpacing)
                //   .text(function(d) { return d; });


                function getSize(d) {
                  var bbox = this.getBBox(),
                      margin = 3.0,
                      cbbox = this.parentNode.getBBox(),
                      scale = Math.min(cbbox.width/bbox.width, cbbox.height/bbox.height);
                  scale = Math.min(scale, maxNodeLabelSize)
                  scale = Math.max(scale, minNodeLabelSize)
                  d.scale = (scale - margin);
                }

                function mouseover() {
                  d3.select(this).select("circle").transition()
                      .duration(500)
                      .attr("r", function(d){
                        return cRadius * 1.1;
                      })
                      .style("fill", function(d) {
                         return "#90EE90";
                      })
                  d3.select(this).select('text').transition()
                      .duration(500)
                      .style("font-size", function(d) { return d.scale * 1.1; });
                }

                function mouseout() {
                  d3.select(this).select('text').transition()
                      .duration(500)
                      .style("font-size", function(d) { return d.scale; })
                  d3.select(this).select("circle").transition()
                      .duration(500)
                      .attr("r", function(d){
                        return cRadius;
                      })
                      .style("fill", function(d) {
                         return "#6495ED";
                      });
                }

                force.on("tick", function() {
                    path.attr("d", function(d) {
                      var dx = d.target.x - d.source.x,
                          dy = d.target.y - d.source.y,
                          dr = Math.sqrt(dx * dx + dy * dy);
                      return "M" +
                          d.source.x + "," +
                          d.source.y + "A" +
                          (dr - drSub) + "," + (dr - drSub) + " 0 0,1 " +
                          d.target.x + "," +
                          d.target.y;
                      });

                    // link.attr("x1", function(d) { return d.source.x; })
                    //     .attr("y1", function(d) { return d.source.y; })
                    //     .attr("x2", function(d) { return d.target.x; })
                    //     .attr("y2", function(d) { return d.target.y; });

                    // Translate the groups
                    gnodes.attr("transform", function(d) {
                        return 'translate(' + [d.x, d.y] + ')';
                    });
                    // node.attr("cx", function(d) { return d.x; })
                    //     .attr("cy", function(d) { return d.y; });
                });

                // Search functionality for sidebar
                var searchdiv = document.getElementsByClassName('sidebar')[0].firstChild;
                var searchfield = searchdiv.firstChild;
                searchfield.oninput = function() {
                    var sidebarentries = document.getElementsByClassName('model');
                    var search = searchfield.value.toLowerCase();
                    for (var i = 0; i < sidebarentries.length; i++) {
                        var entry = sidebarentries[i];
                        var html = entry.innerHTML.toLowerCase();
                        if (html.indexOf(search) == -1) {
                            entry.style.display = 'none';
                        } else {
                            entry.style.display = 'block';
                        }
                    }
                }

                // Highlight node on click. Must be global.
                window.highlightNode = function(name) {
                    // Dim all links and all nodes but the one with the given name
                    svg.selectAll(".gnode").filter(function (d, i) {
                        return d.name != name;
                    }).style("opacity", "0.1");
                    svg.selectAll(".link").style("opacity", "0.1");

                    // TODO: display tooltip and keep everything else dimmed to undim later
                    d3.selectAll(".gnode, .link").transition()
                                                 .duration(5000)
                                                 .style("opacity", "1");
                }
            })();
        </script>
    </body>
</html>